.dk-grn {
    background-color: #265125;
}

.body-grn {
    background-color: #B2CEB1;;
}

.fnt-gld {
    color: #D7E485;
}

.fullview {
    min-height: 100vh;
}

.beefy-border {
    border-bottom: #265125;
}
